* { 
    font-family: Roboto, Arial;
}

.video-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    row-gap: 40px;
}

p { 
    margin-top: 0;
    margin-bottom: 0;
}

.search { 
    display: block;
}

.img { 
   width: 100%;
   border-radius: 15px;

   

}
.trumbnail-row { 
    cursor: pointer;
    margin-bottom: 15px;
}

.video-info-grid { 
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture { 

}



.profile-picture { 
    width: 40px;
    border-radius: 50%;

}

.video-info { 


}

.title { 
    margin-top: 0;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 12px;
}

.video-author, 
.video-stats { 
    font-size: 12px;
    color: rgb(171, 164, 153);


}

.video-author { 
    margin-bottom: 4px;
}


